body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.calculator-container{
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 230px;
    height: 280px;
    border-radius: 10px;
}

.calculator-screen{
    width: 200px;
    height: 50px;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body{
    display: flex;
    flex-direction: column;
    
}

.calculator-body button{
    width: 3rem;
    height: 2rem;
    border-radius: 5px;
    background-color: rgba(167, 210, 210, 0.225);
    flex-grow: 1;
}

.meta-buttons{
    display: flex;
    gap: 3px 3px;
    padding: 2.5px;
}

.meta-buttons #clear-btn{
    background-color: rgba(27, 233, 27, 0.636);
}

.meta-buttons #delete-btn{
    background-color: rgba(216, 34, 34, 0.653);
}

.first-row{
    display: flex;
    gap: 3px 3px;
    padding: 2.5px;
}


.second-row{
    display: flex;
    gap: 3px 3px;
    padding: 2.5px;
}

.third-row{
    display: flex;
    gap: 3px 3px;
    padding: 2.5px;
}

.fourth-row{
    display: flex;
    gap: 3px 3px;
    padding: 2.5px;
}

#clear-btn{
    width: 50%;
}

#delete-btn{
    width: 50%;
}